<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
    <p>&nbsp;</p>
</section>
<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
    <p>&nbsp;</p>
</section>
<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
    <h3>Let's Talk!</h3>
    <ul class="contact-us">
        <li>
            <i class="icon-phone" style="color: #888;"></i>
            <p> <a data-toggle="tooltip" title="" data-original-title="Mobile" data-placement="auto right" data-container="body">&#57;&#52;&#57;&#46;&#53;&#50;&#53;&#46;&#48;&#52;&#48;&#57;</a></p>
        </li>
        <li>
            <i class="icon-skype" style="color: #888;"></i>
            <p> <a data-toggle="tooltip" title="" data-original-title="Skype" data-placement="auto right" data-container="body">live:jason.omahen</a></p>
        </li>
        <li>
            <i class="icon-envelope" style="color: #888;"></i>
            <p> <a href="mailto:jason.omahen@gmail.com" data-toggle="tooltip" title="" data-original-title="Email" data-placement="auto right" data-container="body">&#106;&#97;&#115;&#111;&#110;&#46;&#111;&#109;&#97;&#104;&#101;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
        </li>
        <li>
            <i class="icon-linkedin" style="color: #888;"></i>
            <p> <a href="http://www.linkedin.com/pub/jason-omahen/68/b91/156/" target="_blank" data-toggle="tooltip" title="" data-original-title="LinkedIn" data-placement="auto right" data-container="body">jason-omahen</a></p>
        </li>
    </ul>
</section>
<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
    <h3>Repository</h3>
    <p>
        The <abbr title="You know, the behind-the-scenes stuff!">source code</abbr> for this data-driven, no-SQL website is available.
    </p>
    <p>
        <a class="btn-sm btn-color btn-pad pull-right" href="http://git.jasonomahen.net/personalsite" target="_blank"><i class="icon-bitbucket icon-large"></i> Bitbucket</a>
    </p>
</section>