<nav class="collapse navbar-collapse menu">
    <ul class="nav navbar-nav sf-menu">
        <li><a {% if page_metadata is defined and page_metadata.id == "resume" %} id="current" {% endif %} href="{{ path('_resume') }}">Résumé</a></li>
        <li>
            <a {% if page_metadata is defined and (page_metadata.id == "team_work" or page_metadata.id == "individual_work" or page_metadata.id =="masters_thesis") %} id="current" {% endif %} href="#" class="sf-with-ul">
                Portfolio
                           <span class="sf-sub-indicator">
                           <i class="icon-angle-down "></i>
                           </span>
            </a>
            <ul>
                <li><a href="{{ path('_team_work') }}" class="sf-with-ul">Team Work</a></li>
                <li><a href="{{ path('_individual_work') }}" class="sf-with-ul">Individual Work</a></li>
                <li><a href="{{ path('_masters_thesis') }}" class="sf-with-ul">Master's Thesis</a></li>
            </ul>
        </li>
        <li><a {% if page_metadata is defined and page_metadata.id == "about_me" %} id="current" {% endif %} href="{{ path('_about_me') }}">About</a></li>
    </ul>
</nav>