{% if slides is defined and slides is not null %}
<div id="layerslider-container-fw">
    <div id="layerslider" style="width: 100%; height: 400px; margin: 0px auto; ">
        {% for slide in slides %}
        <div class="ls-layer" style="{% if slide.delay is defined %} slidedelay: {{ slide.delay }};{% endif %} {% if slide.transition2d is defined %} transition2d: {{ slide.transition2d }}; {% endif %} {% if slide.transition3d is defined %} transition3d: {{ slide.transition3d }}{% endif %}">
            <img src="{{ include(template_from_string("{{ asset('bundles/" ~ slide.backgroundURI ~ "') }}")) }}" class="ls-bg" alt="Slide background">

            {% if slide.layers is defined and slide.layers is not null %}
                {% for sub_layer in slide.layers %}
                    {{ include(template_from_string(sub_layer)) }}
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}