<div class="phone-email pull-left">
    <!--<a><i class="icon-phone"></i> &#57;&#52;&#57;&#46;&#53;&#50;&#53;&#46;&#48;&#52;&#48;&#57;</a><-->
    <a><i class="icon-skype"></i> live:jason.omahen</a>
    <a href="mailto:jason.omahen@gmail.com"><i class="icon-envelope"></i> &#106;&#97;&#115;&#111;&#110;&#46;&#111;&#109;&#97;&#104;&#101;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
</div>
<div class="pull-right">
    <ul class="social pull-left">
        <li class="twitter"><a href="http://git.jasonomahen.net" target="_blank" data-toggle="tooltip" title="" data-original-title="Bitbucket" data-placement="auto left" data-container="body"><i class="icon-bitbucket"></i></a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/pub/jason-omahen/68/b91/156/" target="_blank" data-toggle="tooltip" title="" data-original-title="LinkedIn" data-placement="auto right" data-container="body"><i class="icon-linkedin"></i></a></li>
    </ul>
</div>