.developer-info > tbody > tr > td:nth-child(odd) {
    text-align: center;
}

.developer-info > tbody > tr > td {
    vertical-align: middle;
}

.developer-info > tbody > tr > td > a {
    color: #727272 !important;
}