<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}Jason C. Omahen {% if page_metadata is defined %}| {{ page_metadata.title }}{% endif %}{% endblock %}</title>
    <meta name="description" content="personal portfolio site">
    <meta name="author" content="Jason Omahen">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <!-- Library CSS -->
    {% stylesheets  'bundles/jcosite/css/bootstrap.css'
                    'bundles/jcosite/css/fonts/font-awesome/css/font-awesome.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets  'bundles/jcosite/css/animations.css'
                    'bundles/jcosite/css/superfish.css'
                    'bundles/jcosite/css/revolution-slider/css/settings.css'
                    'bundles/jcosite/css/layerslider.css'
                    'bundles/jcosite/css/prettyPhoto.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}

    {% stylesheets  'bundles/jcosite/css/style.css'
                    'bundles/jcosite/css/colors/blue.css'
                    'bundles/jcosite/css/theme-responsive.css'
                    'bundles/jcosite/css/shCore.css'
                    'bundles/jcosite/css/shThemeEclipse.css'
                    'bundles/jcosite/css/custom.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    {% javascripts '@JCOSiteBundle/Resources/public/js/respond.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
    <!--[if IE]>
    {% stylesheets 'bundles/jcosite/css/ie.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <![endif]-->
</head>
<body class="home">
<div class="wrap">
<!-- Header Start -->
<header id="header">
    <!-- Header Top Bar Start -->
    {% if use_top_bar is defined and use_top_bar == true %}
    {% block top_bar %}
    <div class="top-bar">
        <div class="slidedown collapse">
            <div class="container">
                {% block top_bar_container %}
                    {{ include('JCOSiteBundle:Components:top-bar-base.html.twig') }}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% endif %}
    <!-- Header Top Bar End -->
    <!-- Main Header Start -->
    {% block main_header %}
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                    <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <!-- TopNav End -->
            <!-- Logo Start -->
            {% block logo %}
            <div class="logo pull-left">
                <h1>
                    <a href="{{ path('_frontend') }}">
                        {% image '@JCOSiteBundle/Resources/public/img/logo.png' %}
                            <img src="{{ asset_url }}" alt="Jason C. Omahen" height="60">
                        {% endimage %}
                    </a>
                </h1>
            </div>
            {% endblock %}
            <!-- Logo End -->

            <!-- Mobile Menu Start -->
            {% block mobile_menu %}
            <div class="mobile navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                    <i class="icon-reorder icon-2x"></i>
                </a>
            </div>
            {% endblock %}
            <!-- Mobile Menu End -->
            <!-- Menu Start -->
            {% block main_menu %}
                {{ include('JCOSiteBundle:Components:main-menu-base.html.twig') }}
            {% endblock %}
            <!-- Menu End -->
        </div>
    </div>
    {% endblock %}
    <!-- Main Header End -->
</header>
<!-- Header End -->
<!-- Content Start -->
<div id="main">
    <!-- Title, Breadcrumb Start -->
    {% block main_title_breadcrumb %}
    {% endblock %}
    <!-- Title, Breadcrumb End -->

    <!-- Slider Start-->
    {% block main_slider %}
    {% endblock %}
    <!-- Slider End-->

    <!-- Main Content start-->
    {% block main_content %}
    <div class="main-content">
        <div class="container">
            {% block main_content_container %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}
    <!-- Main Content end-->
    <!-- Recent works start-->
    {% block recent_works %}
    <div class="recentworks bottom-pad">
        <div class="container">
            {% block recent_works_container %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}
    <!-- Recent work end-->
</div>
<!-- Content End -->
<!-- Footer Start -->
<footer id="footer">
    <!-- Footer Top Start -->
    {% block footer_top %}
    <div class="footer-top">
        <div class="container">
            {% block footer_top_container %}
                <div class="row">
                    {{ include('JCOSiteBundle:Components:footer-info-base.html.twig') }}
                </div>
            {% endblock %}
        </div>
    </div>
    {% endblock %}
    <!-- Footer Top End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            {% block footer_bottom %}
                &copy; 2013 Jason C. Omahen
            {% endblock %}
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Scroll To Top -->
<a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
</div>
<!-- Wrap End -->
<!-- The Scripts -->
{% block full_javascript %}
    {% javascripts  '@JCOSiteBundle/Resources/public/js/jquery.min.js'
                    '@JCOSiteBundle/Resources/public/js/bootstrap.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.parallax.js'
                    '@JCOSiteBundle/Resources/public/js/modernizr-2.6.2.min.js'
                    '@JCOSiteBundle/Resources/public/js/revolution-slider/js/jquery.themepunch.revolution.min.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.nivo.slider.pack.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.prettyPhoto.js'
                    '@JCOSiteBundle/Resources/public/js/superfish.js'
                    '@JCOSiteBundle/Resources/public/js/tweetMachine.js'
                    '@JCOSiteBundle/Resources/public/js/tytabs.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.gmap.min.js'
                    '@JCOSiteBundle/Resources/public/js/circularnav.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.sticky.js'
                    '@JCOSiteBundle/Resources/public/js/jflickrfeed.js'
                    '@JCOSiteBundle/Resources/public/js/imagesloaded.pkgd.min.js'
                    '@JCOSiteBundle/Resources/public/js/waypoints.min.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.easing.1.3.js'
                    '@JCOSiteBundle/Resources/public/js/jquery-transit-modified.js'
                    '@JCOSiteBundle/Resources/public/js/layerslider.transitions.js'
                    '@JCOSiteBundle/Resources/public/js/layerslider.kreaturamedia.jquery.js'
                    '@JCOSiteBundle/Resources/public/js/shCore.js'
                    '@JCOSiteBundle/Resources/public/js/shBrushCpp.js'
                    '@JCOSiteBundle/Resources/public/js/custom.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block custom_javascript %}{% endblock %}
</body>
</html>