{% extends 'JCOSiteBundle::layout-base.html.twig' %}

{% block main_title_breadcrumb %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">{{ page_metadata.title }}</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>//</li>
                            <li><a href="{{ path('_frontend') }}">Home</a></li>
                            {% if breadcrumbs is defined and breadcrumbs is not null %}
                            {% for bread_crumb_item in breadcrumbs %}
                                <li>{% if bread_crumb_item.url is defined %}<a href="{{ include(template_from_string(bread_crumb_item.url)) }}">{{ bread_crumb_item.title }}</a>{% else %}{{ bread_crumb_item.title }}{% endif %}</li>
                            {% endfor %}
                            {% endif %}
                            <li>{{ page_metadata.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}