{% extends 'JCOSiteBundle::layout-base.html.twig' %}

{% block main_title_breadcrumb %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">About Me</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>//</li>
                            <li><a href="{{ path('_frontend') }}">Home</a></li>
                            <li>About</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
<div class="content">
    <div class="container">
    {% block main_content_container %}
        <div class="row">
            <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <article>
                    <h3 class="title">Who Am I?</h3>
                    <div class="post-content">
                        <div class="img-content">
                            {% image '@JCOSiteBundle/Resources/public/img/about/profile.png' %}
                            <img src="{{ asset_url }}" alt="Me" class="img-responsive">
                            {% endimage %}
                        </div>
                        <p>My passion for engine and tools development&mdash;and game programming in general&mdash;is unparalleled. What can I say? I enjoy diving &ldquo;under the hood&rdquo; and optimizing poor-performing code. Seriously. If a system strikes fear into the hearts of many, then consider my interest piqued! My hobbies are <b>very</b> diverse, ranging from <abbr title="I play stuff!">music performance</abbr> to <abbr title="Reading is fun!">theology</abbr> to&mdash;of course&mdash;<abbr title="Duh!">video games</abbr>!</p>
                        <p>I am a graduate student at The Guildhall at <abbr title="Southern Methodist University">SMU</abbr>, specializing in <b>software development</b> in pursuit of a Master's in Interactive Technology with an expected graduation date in December 2013. While I have received formal instruction in computer science (B.Sc.), I am a self-taught C++ programmer that began at the age of 15.</p>
                    </div>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="divider"></div>
    {% endblock %}
    </div>
</div>
{% endblock %}

{% block recent_works %}{% endblock %}