{% extends 'JCOSiteBundle::layout-base.html.twig' %}

{% block main_slider %}
    {{ include('JCOSiteBundle:Components:slider-base.html.twig') }}
{% endblock %}

{% block main_content %}{% endblock %}

{% block recent_works %}
    <div class="recentworks">
        <div class="container">
            {% block recent_works_container %}
                <div class="text-center">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a class="btn-lg btn-color btn-pad" href="{{ path('_team_work') }}"><i class="icon-group icon-large"></i> Team Work</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a class="btn-lg btn-color btn-pad" href="{{ path('_individual_work') }}"><i class="icon-user icon-large"></i> Individual Work</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}