{% extends 'JCOSiteBundle::layout-with-breadcrumbs.html.twig' %}

{% block main_slider %}
    {{ include('JCOSiteBundle:Components:slider-base.html.twig') }}
{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container">
            {% block main_content_container %}
                <!-- Description -->
                <div class="row">
                    <div class="posts-block col-lg-8 col-md-8 col-sm-7 col-xs-12">
                        <article>
                            <h3 class="title">Brief Overview</h3>
                            <div class="post-content">
                                <p>{{ include(template_from_string(brief_overview)) }}</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 sidebar">
                        <div class="widget">
                            <h3 class="title">Developer Info</h3>
                            <table class="table table-striped developer-info">
                                <tbody>
                                {% for developer_section in developer_metadata %}
                                    <tr>
                                        <td><a data-toggle="tooltip" title="" data-original-title="{{ developer_section.display_text }}" data-placement="auto left" data-container="body"><i class="{{ developer_section.display_icon }} icon-2x"></i></a></td>
                                        <td>
                                            <ul {% if developer_section.display_inline is defined and developer_section.display_inline %}class="list-inline"{% endif %}>
                                            {% for developer_value_data in developer_section.values %}
                                                <li>
                                                {% if developer_value_data.is_label is defined and developer_value_data.is_label %}
                                                    <span class="label label-{% if developer_value_data.label_type is defined and developer_value_data.label_type is not empty %}{{ developer_value_data.label_type }}{% else %}default{% endif %}">
                                                        {{ include(template_from_string(developer_value_data.value)) }}
                                                    </span>
                                                {% else %}
                                                    {{ include(template_from_string(developer_value_data.value)) }}
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Features -->
                {% if features is defined and features is not empty %}
                    <div class="row">
                        <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <article>
                                <h3 class="title">Features</h3>
                                <div class="post-content">
                                    <div class="row">
                                        <div class="posts-block {% if features|length > 7 %}col-lg-6 col-md-6 col-sm-6 col-xs-6{% else %}col-lg-12 col-md-12 col-sm-12 col-xs-12{% endif %}">
                                            <article>
                                                <div class="post-content">
                                                    <ul class="responsibilities-list">
                                                        {% for feature in features[:7] %}
                                                            <li><i class="icon-ok"></i> {{ include(template_from_string(feature)) }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>

                                        {% if features|length > 7 %}
                                            <div class="posts-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <article>
                                                    <div class="post-content">
                                                        <ul class="responsibilities-list">
                                                            {% for feature in features[8:7] %}
                                                                <li><i class="icon-ok"></i> {{ include(template_from_string(feature)) }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </article>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bottom-pad"></div>
                {% endif %}
                <!-- Roles/Responsibilities -->
                {% if responsibilities is defined and responsibilities is not empty %}
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Responsibilities</h3>
                            <div class="post-content">
                                <div class="row">
                                    <div class="posts-block {% if responsibilities|length > 7 %}col-lg-6 col-md-6 col-sm-6 col-xs-6{% else %}col-lg-12 col-md-12 col-sm-12 col-xs-12{% endif %}">
                                        <article>
                                            <div class="post-content">
                                                <ul class="responsibilities-list">
                                                    {% for responsibility in responsibilities[:7] %}
                                                        <li><i class="icon-angle-right"></i> {{ include(template_from_string(responsibility)) }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </article>
                                    </div>

                                    {% if responsibilities|length > 7 %}
                                    <div class="posts-block col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <article>
                                            <div class="post-content">
                                                <ul class="responsibilities-list">
                                                    {% for responsibility in responsibilities[8:7] %}
                                                        <li><i class="icon-angle-right"></i> {{ include(template_from_string(responsibility)) }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-pad"></div>
                {% endif %}
                <!-- Code Sample -->
                {% if code_sample is defined and code_sample is not empty %}
                    <div class="row">
                        <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <article>
                                <h3 class="title">Sample Code</h3>
                                <div class="post-content">
                                    {{ include(template_from_string(code_sample)) }}
                                </div>
                            </article>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bottom-pad"></div>
                {% endif %}
                <!-- Post Mortem -->
                {%  if postmortem is defined and postmortem is not empty %}
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Postmortem</h3>
                            <div class="post-content">
                                {{ include(template_from_string(postmortem.body)) }}
                            </div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
               {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block recent_works %}
    {% if similar_projects is defined and similar_projects is not empty %}
        {% block recent_works_container %}
            <div class="recentworks" style="padding: 30px 0;">
                <div class="container">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">Similar Projects</h3>
                    </div>
                    {% for item in similar_projects %}
                        <!-- {{ item.title }} -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item">
                            <div class="portfolio-item">
                                <a href="{{ include(template_from_string(item.route_twig)) }}" class="portfolio-item-link">
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span>{{ include(template_from_string("<img src=\"{{ asset('bundles/" ~ item.thumbnail_resource ~ "') }}\" />")) }}
                                </a>
                                <div class="portfolio-item-title">
                                    <a href="{{ include(template_from_string(item.route_twig)) }}">{{ item.title }}</a>
                                    <p>
                                        {{ item.tagline }}
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}