{% extends 'JCOSiteBundle::layout-with-breadcrumbs.html.twig' %}

{% block main_content %}
    <div class="content">
        <div class="container">
            {% block main_content_container %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="options">
                            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                                {% for filter in portfolio_filters %}
                                    <li><a href="#filter" data-option-value=".{{ filter.class_id }}">{{ filter.display_text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="portfolio three-column">

                                {% for item in portfolio_items %}
                                <!-- {{ item.title }} -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 {% for filter in item.filters %}{{ filter }} {% endfor %}item">
                                    <div class="portfolio-item">
                                        <a href="{{ include(template_from_string(item.route_twig)) }}" class="portfolio-item-link">
                                            <span class="portfolio-item-hover"></span>
                                            <span class="fullscreen"><i class="icon-search"></i></span>{{ include(template_from_string("<img src=\"{{ asset('bundles/" ~ item.thumbnail_resource ~ "') }}\" />")) }}
                                        </a>
                                        <div class="portfolio-item-title">
                                            <a href="{{ include(template_from_string(item.route_twig)) }}">{{ item.title }}</a>
                                            <p>
                                                {{ item.tagline }}
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block recent_works %}{% endblock %}

{% block full_javascript %}
    {% javascripts  '@JCOSiteBundle/Resources/public/js/jquery.min.js'
                    '@JCOSiteBundle/Resources/public/js/bootstrap.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.parallax.js'
                    '@JCOSiteBundle/Resources/public/js/modernizr-2.6.2.min.js'
                    '@JCOSiteBundle/Resources/public/js/revolution-slider/js/jquery.themepunch.revolution.min.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.nivo.slider.pack.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.prettyPhoto.js'
                    '@JCOSiteBundle/Resources/public/js/superfish.js'
                    '@JCOSiteBundle/Resources/public/js/tweetMachine.js'
                    '@JCOSiteBundle/Resources/public/js/tytabs.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.gmap.min.js'
                    '@JCOSiteBundle/Resources/public/js/circularnav.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.sticky.js'
                    '@JCOSiteBundle/Resources/public/js/jflickrfeed.js'
                    '@JCOSiteBundle/Resources/public/js/imagesloaded.pkgd.min.js'
                    '@JCOSiteBundle/Resources/public/js/waypoints.min.js'
                    '@JCOSiteBundle/Resources/public/js/jquery.isotope.js'
                    '@JCOSiteBundle/Resources/public/js/portfolio.js'
                    '@JCOSiteBundle/Resources/public/js/shCore.js'
                    '@JCOSiteBundle/Resources/public/js/shBrushCpp.js'
                    '@JCOSiteBundle/Resources/public/js/custom.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}