{% extends 'JCOSiteBundle::layout-with-breadcrumbs.html.twig' %}

{% block main_content %}
    <div class="content">
        <div class="container">
            {% block main_content_container %}
                <!-- Skills -->
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Skills</h3>
                            <div class="post-content">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td><strong>Languages</strong></td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li><span class="label label-danger"><i class=""></i> C++ 98/1y</span></li>
                                                    <li><span class="label label-info"><i class=""></i> C# 4.0</span></li>
                                                    <li><span class="label label-danger"><i class=""></i> Java 1.7</span></li>
                                                    <li><span class="label label-primary"><i class=""></i> Kismet (Unreal Engine 3)</span></li>
                                                    <li><span class="label label-primary"><i class=""></i> PHP 5</span></li>
                                                    <li><span class="label label-default"><i class=""></i> SQL</span></li>
                                                    <li><span class="label label-primary"><i class=""></i> UnrealScript</span></li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong>APIs</strong></td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li><span class="label label-default"><i class=""></i> Autodesk 3ds Max SDK 2012</span></li>
                                                    <li><span class="label label-success"><i class="icon-android"></i> Android NDK</span></li>
                                                    <li><span class="label label-danger"><i class=""></i> Boost C++</span></li>
                                                    <li><span class="label label-default"><i class=""></i> FMOD Ex</span></li>
                                                    <li><span class="label label-default"><i class=""></i> OpenGL</span></li>
                                                    <li><span class="label label-primary"><i class="icon-windows"></i> Win32</span></li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong>Tools</strong></td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li><span class="label label-default"><i class=""></i> Microsoft Visual Studio 2005 – 2013</span></li>
                                                    <li><span class="label label-default"><i class=""></i> Eclipse</span></li>
                                                    <li><span class="label label-default"><i class=""></i> Git</span></li>
                                                    <li><span class="label label-default"><i class=""></i> Perforce</span></li>
                                                    <li><span class="label label-default"><i class=""></i> Subversion</span></li>
                                                    <li><span class="label label-default"><i class=""></i> CMake</span></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-pad-small"></div>

                <!-- Team Game Experience -->
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Team Game Experience</h3>
                            <div class="post-content well-sm">

                                <div class="row">
                                    <!-- Lucid Dreams -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h4><a href="{{ path('_portfolio', {'type': 'team', 'portfolioItem': 'lucid-dreams'}) }}">Lucid Dreams</a></h4>
                                        <table class="table table-striped developer-info">
                                            <tbody>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="My Role" data-placement="auto left" data-container="body"><i class="icon-user icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            Lead Programmer
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Team Composition" data-placement="auto left" data-container="body"><i class="icon-group icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            3 Programmers / 12 Developers
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Development Lifecycle" data-placement="auto left" data-container="body"><i class="icon-time icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            20 Weeks
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Genre" data-placement="auto left" data-container="body"><i class="icon-tags icon-2x"></i></a></td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        First person
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        <i class="icon-puzzle-piece"></i>&nbsp;&nbsp;Puzzle
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        Platformer
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Technology" data-placement="auto left" data-container="body"><i class="icon-gears icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-primary">
                                                        <i class="icon-code"></i>&nbsp;&nbsp;UnrealScript
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        <img src="http://www.unrealengine.com/images/layout/udk.icon.png" style="margin: 2px 3px 2px 0"> Unreal Development Kit
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Platform(s)" data-placement="auto left" data-container="body"><i class="icon-laptop icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-primary">
                                                        <i class="icon-windows"></i>&nbsp;&nbsp;Windows
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End Lucid Dreams -->

                                    <!-- Jungle Thunder -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h4><a href="{{ path('_portfolio', {'type': 'team', 'portfolioItem': 'jungle-thunder'}) }}">Jungle Thunder</a></h4>
                                        <table class="table table-striped developer-info">
                                            <tbody>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="My Role" data-placement="auto left" data-container="body"><i class="icon-user icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            Programmer
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Team Composition" data-placement="auto left" data-container="body"><i class="icon-group icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            1 Programmer / 6 Developers
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Development Lifecycle" data-placement="auto left" data-container="body"><i class="icon-time icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            12 Weeks
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Genre" data-placement="auto left" data-container="body"><i class="icon-tags icon-2x"></i></a></td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        First person
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        <i class="icon-flag"></i>&nbsp;&nbsp;Capture the flag
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        <i class="icon-screenshot"></i>&nbsp;&nbsp;Shooter
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Technology" data-placement="auto left" data-container="body"><i class="icon-gears icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-primary">
                                                        <i class="icon-code"></i>&nbsp;&nbsp;UnrealScript
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        <img src="http://www.unrealengine.com/images/layout/udk.icon.png" style="margin: 2px 3px 2px 0"> Unreal Development Kit
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Platform(s)" data-placement="auto left" data-container="body"><i class="icon-laptop icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-primary">
                                                        <i class="icon-windows"></i>&nbsp;&nbsp;Windows
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End Jungle Thunder -->
                                </div>

                                <div class="row">
                                    <!-- Dead Men Walking -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h4><a href="{{ path('_portfolio', {'type': 'team', 'portfolioItem': 'dead-men-walking'}) }}">Dead Men Walking</a></h4>
                                        <table class="table table-striped developer-info">
                                            <tbody>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="My Role" data-placement="auto left" data-container="body"><i class="icon-user icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            Programmer
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Team Composition" data-placement="auto left" data-container="body"><i class="icon-group icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            2 Programmers / 2 Developers
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Development Lifecycle" data-placement="auto left" data-container="body"><i class="icon-time icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            3 Weeks
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Genre" data-placement="auto left" data-container="body"><i class="icon-tags icon-2x"></i></a></td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        Action
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Technology" data-placement="auto left" data-container="body"><i class="icon-gears icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-danger">
                                                        <i class="icon-code"></i>&nbsp;&nbsp;C++
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-info">
                                                        <i class="icon-terminal"></i>&nbsp;&nbsp;Custom Engine
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Platform(s)" data-placement="auto left" data-container="body"><i class="icon-laptop icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-success">
                                                        <i class="icon-android"></i>&nbsp;&nbsp;Android 4.x
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Dragon Attack -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h4><a href="{{ path('_portfolio', {'type': 'team', 'portfolioItem': 'dragon-attack'}) }}">Dragon Attack</a></h4>
                                        <table class="table table-striped developer-info">
                                            <tbody>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="My Role" data-placement="auto left" data-container="body"><i class="icon-user icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            Programmer
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Team Composition" data-placement="auto left" data-container="body"><i class="icon-group icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            3 Programmers / 3 Developers
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Development Lifecycle" data-placement="auto left" data-container="body"><i class="icon-time icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            3 Weeks
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Genre" data-placement="auto left" data-container="body"><i class="icon-tags icon-2x"></i></a></td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        2D Side-scroller
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-default">
                                                        Action
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Technology" data-placement="auto left" data-container="body"><i class="icon-gears icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-danger">
                                                        <i class="icon-code"></i>&nbsp;&nbsp;C++
                                                    </span>
                                                        </li>
                                                        <li>
                                                                                                    <span class="label label-info">
                                                        <i class="icon-terminal"></i>&nbsp;&nbsp;Custom Engine
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a data-toggle="tooltip" title="" data-original-title="Platform(s)" data-placement="auto left" data-container="body"><i class="icon-laptop icon-2x"></i></a></td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                                                                    <span class="label label-primary">
                                                        <i class="icon-windows"></i>&nbsp;&nbsp;Windows
                                                    </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-pad-small"></div>

                <!-- Professional Experience -->
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Professional Experience</h3>
                            <div class="post-content well">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <h4>Biometrics Research</h4>

                                        <p>
                                            Caruth Institute, Southern Methodist University<br>
                                            <em>Lead Programmer</em><br>
                                            August 2010 &mdash; December 2011
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            Executed tasks for the research and development of iris recognition algorithms under the direction of Former Asst. Secretary of the Navy, Delores M. Etter.
                                        </p>
                                    </div>
                                </div>
                                <div class="blog-divider" style="margin: 5px 0;"></div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <h4>Cox Business School</h4>

                                        <p>
                                            Cox Business School, Southern Methodist University<br>
                                            <em>Lead Programmer</em><br>
                                            May 2010 &mdash; November 2010
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            Designed and implemented a real-time, web-based application for supply chain simulation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-pad-small"></div>

                <!-- Education -->
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Education</h3>
                            <div class="post-content well">
                                <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <h4>The Guildhall at Southern Methodist University</h4>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <span class="label label-danger">Plano, Texas</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="bottom-pad-small"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        Expected to graduate in December 2013<br>
                                        <strong>Master of Interactive Technology, Specialization in Software Development</strong>
                                    </div>
                                </div>
                                <div class="blog-divider" style="margin: 5px 0;"></div>
                                <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <h4>Southern Methodist University</h4>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <span class="label label-danger">Dallas, Texas</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="bottom-pad-small"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        Aug 2009 – May 2012<br>
                                        <strong>Bachelor of Science, Computer Science</strong>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bottom-pad-small"></div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block recent_works %}{% endblock %}