{% extends 'JCOSiteBundle::layout-with-breadcrumbs.html.twig' %}

{% block main_content %}
    <div class="content">
        <div class="container">
            {% block main_content_container %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="text-center">Whoops... My research isn't quite finished!</h2>
                        <div id="not-found">
                            <h2>WIP <i class="icon-meh"></i></h2>
                        </div>
                        <div class="back-home">
                            <p>Please come back later.</p>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block recent_works %}{% endblock %}